.page_connexion{
    height: 700px;
    background-color: rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
    width: 100%;
}
.page_connexion .container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
}
.page_connexion .container h3{
    text-align: center;
    margin-bottom: 20px;
}
.page_connexion .container .div1 .input1,.page_connexion .container .div1 .input2{
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.page_connexion .container .div1 .d_flex{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.page_connexion .container .div1 .d_flex div a{
    text-decoration: none;
    color: #E65100;
}
.page_connexion .container .div1 .a1 {
    margin: 10px 0;
}
.page_connexion .container .div1 .a1 a{
    font-size: 12px;
    text-decoration: none;
    color: #E65100;
}
.page_connexion .container .div1 .a2{
    width: 100%;
    padding: 5px 0;
    background-color: #E65100;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
}