.page_contact_section1{
    height: 1100px;
    background-color: #fff3e0;
    /**padding: 100px 50px;**/
    padding: 50px 20px;
}
.page_contact_section1  h1{
    /**font-size: 50px;**/
    text-align: center;
    color: #E65100;
}
.page_contact_section1 p{
    text-align: center;
    font-size: 1em;
    /**font-size: 1.8em;**/
}
.page_contact_section1 .container{
    margin-top: 50px;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
}
.page_contact_section1 .container form input,.page_contact_section1 .container form textarea{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.page_contact_section1 .container form input{
    padding: 20px 10px;
}
.page_contact_section1 .container form button{
    width: 100%;
    background-color: #E65100;
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

.page_contact_section2{
    height: 1200px;
    padding: 100px 50px;
}
.page_contact_section2 .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page_contact_section2 .container div{
    height: 300px;
    background-color: #fff3e0;
    border-radius: 20px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.page_contact_section2 .container div h1{
    color: #E65100;
}
.page_contact_section2 .container div .icone{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #E65100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

@media screen and (min-width:768px) {
    .page_contact_section1{
        height: 900px;
    }
    .page_contact_section1 .container{
        width: 70%;
        margin: auto;
        margin-top: 50px;
    }
    .page_contact_section1 .container form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .page_contact_section1 .container form .email, .page_contact_section1 .container form .telephone, .page_contact_section1 .container form .message, .page_contact_section1 .container form button{
        grid-column: 1/3;
    }
    .page_contact_section1 .container form input,.page_contact_section1 .container form button{
        padding: 10px;
    }
    .page_contact_section1 .container form input,.page_contact_section1 .container form textarea{
        margin-bottom: 0;
    }


    .page_contact_section2{
        height: 300px;
        padding: 50px;
    }
    .page_contact_section2 .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .page_contact_section2 .container div{
        height: 200px;
        width: 25%;
    }
    .page_contact_section2 .container div h1{
        font-size: 20px;
    }
    .page_contact_section2 .container div .icone{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        font-size: 20px;
    }

}