@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 130vh;
}
.layout .sidebar{
    background-color: #E65100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.layout .sidebar .top{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.layout .sidebar .top .logo{
    width: 100%;
}
.layout .sidebar .top .logo img{
    width: 50%;
    height: auto;
}
.layout .sidebar .top div span{
    color: #fff;
}
.layout .sidebar .top div i{
    color: #FFB300;
}
.layout .sidebar .bottom .div1,.layout .sidebar .bottom .div2{
    border-top: 1px solid rgba(255, 179, 0, 0.5);
    padding: 10px 10px;
}
.layout .sidebar .bottom .div2{
    margin-bottom: 10px;
}
.layout .sidebar .bottom div i{
    color: #FFB300;
}
.layout .sidebar .bottom div a{
    text-decoration: none;
    color: #fff;
}

.layout main{
    padding: 80px;
    background-color: rgba(0, 0, 0, 0.1);
}

.layout main .d_flex1{
    display: flex;
    justify-content: space-between;
}
.layout main .d_flex1 p{
    font-size: 14px;
}
.layout main .d_flex1 button{
    padding: 0 15px;
    font-size: 14px;
    color: #fff;
    background-color: #E65100;
    border: none;
    border-radius: 5px;
}
.layout main .container{
    background-color: #fff;
    padding: 20px;
    margin-top: 25px;
}
.layout main .container .d_flex2{
    display: flex;
    gap: 10px;
    margin-top: 5px;
}
.layout main .container .d_flex2 select{
    background-color: #fff;
    width: 90%;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    border-radius: 5px;
}
.layout main .container .d_flex2 button{
    width: 10%;
    background-color: #E65100;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.layout main table{
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-collapse: collapse;
    background-color: #fff;
}
.layout main table thead{
    background-color: rgba(0, 0, 0, 0.1);
}
.layout main table thead th{
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    padding: 10px 0 10px 20px;
}
.layout main table td{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;
    border-left: none;
    padding: 20px;
    font-size: 12px;
}

.layout main table tr td .image{
    display: flex;
    align-items: center;
    gap: 10px;
}
.layout main table tr td .image img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.layout main table tr td .en_attente{
    background-color: rgb(255, 179, 0, 0.4);
    padding:2px 5px;
    border-radius: 10px;
    font-size: 10px;

}
.layout main table tr td .verifier{
    background-color: rgb(0, 255, 157, 0.5);
    padding:2px 5px;
    border-radius: 10px;
    font-size: 10px;
}

.layout main table td button{
    border: none;
    background-color: #fff;

}
.layout main table td button:first-child{
    color: #4338CA;
    margin-right: 5px;
}
.layout main table td button:last-child{
    color: red;
}