.page_inscription_section0{
    height: 300px;
    width: 100%;
    background-image: url(images/banner-caterers.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 120px;
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
}
.page_inscription_section0 .divsection1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: o;
    right: 0;
    height: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.page_inscription_section0 .container{
    z-index: 1;
}
.page_inscription_section0 .container p{
    font-size: 14px;
    margin-top: 5px;
}

.page_inscription_section1{
    height: 1200px;
    background-color: #fff3e0;
    padding: 30px 120px;
}
.page_inscription_section1 .div_container{
    background-color: #fff;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px 120px;
}
.page_inscription_section1 .div_container .div1,.page_inscription_section1 .div_container .div2,.page_inscription_section1 .div_container .div3,.page_inscription_section1 .div_container .div4{
    border: 2px dotted rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}
.page_inscription_section1 .div_container .div1 .card_grid_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 8px;
}
.page_inscription_section1 .div_container .div1 .card_grid_1 input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.page_inscription_section1 .div_container .div2 .card_grid_2{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-top: 8px;
}
.page_inscription_section1 .div_container .div2 .card_grid_2 select{
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 5px;
    border-radius: 5px;
}
.page_inscription_section1 .div_container .div2 .card_grid_2 .input,.page_inscription_section1 .div_container .div2 .card_grid_2 textarea{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.page_inscription_section1 .div_container .div2 .card_grid_2 .column_4 .container{
    display: flex;
    margin-top: 5px;
}
.page_inscription_section1 .div_container .div2 .card_grid_2 .column_4 .container .left{
    width: 50%;
}
.page_inscription_section1 .div_container .div2 .card_grid_2 .column_4 .container .right{
    width: 50%;
}
.page_inscription_section1 .div_container .div2 .card_grid_2 .column_4 .container .left div,.page_inscription_section1 .div_container .div2 .card_grid_2 .column_4 .container .right div{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.page_inscription_section1 .div_container .div3 .card_grid_3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 5px;
}
.page_inscription_section1 .div_container .div3 .card_grid_3 input{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.page_inscription_section1 .div_container .div4 .card_grid_4{
    margin-top: 10px;
}
.page_inscription_section1 .div_container .div4 .card_grid_4 input::file-selector-button{
    background-color: #fff3e0;
    color: #e65100;
    border: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
}
.page_inscription_section1 .div_container .button{
    display: flex;
    justify-content: end;
    align-items: center;
}
.page_inscription_section1 .div_container .button button{
    background-color: #e65100;
    border: none;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
}