.page_traiteur_section1{
    height: 330px;
    width: 100%;
    background-image: url(images/banner-caterers.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}
.page_traiteur_section1 .divsection1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: o;
    right: 0;
    height: 330px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.page_traiteur_section1 .container{
    z-index: 1;
}
.page_traiteur_section1 .container p{
    font-size: 14px;
}

.page_traiteur_section2{
    height: 440px;
    width: 100%;
    background-color: #fff3e0;
    padding: 10px 140px;
}
.page_traiteur_section2 .top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.page_traiteur_section2 .top .left{
    width: 10%;
    display: flex;
    align-items: center;
}
.page_traiteur_section2 .top .right{
    width: 60%;
}
.page_traiteur_section2 .top .right form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: grey;
}
.page_traiteur_section2 .top .right form .div1,.page_traiteur_section2 .top .right form .div2{
    display: flex;
    flex-direction: column;
}
.page_traiteur_section2 .top .right form select{
    width: 180px;
    background-color: #fff;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 10px;
}
.page_traiteur_section2 .top .right form .div3{
    display: flex;
    align-items: end;
    gap: 10px;
}
.page_traiteur_section2 .top .right form .div3 button{
    height: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.page_traiteur_section2 .top .right form .div3 .filter{
    background-color: #e65100;
    border: none;
    color: #fff;
}

.page_traiteur_section2 .bottom{
    width: 100%;
    margin-top: 80px;
    height: 280px;
}
.page_traiteur_section2 .card{
    height: 100%;
    display: grid;
    grid-template-columns: 22% 78%;
    row-gap: 10px;
}
.page_traiteur_section2 .card .image1{
    width: 100%;
    background-image: url(images/pexels-son-tung-tran-17375059-6718706.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.page_traiteur_section2 .card .badge{
    position: absolute;
    background-color: rgb(0, 255, 132);
    width: 60px;
    height: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    right: 10px;
    top: 10px;
}
.page_traiteur_section2 .card .check{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(6, 26, 6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.page_traiteur_section2 .card .check i{
    font-size: 5px;
    color: #fff;
}
.page_traiteur_section2 .card .badge .verif{
    font-size: 10px;
    color: rgb(6, 26, 6);
}
.page_traiteur_section2 .card .image2{
    width: 100%;
    background-image: url(images/pexels-jang-699953.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.page_traiteur_section2 .card .description{
    background-color: #fff;
    font-size: 12px;
    padding: 10px;
}
.page_traiteur_section2 .card .description .d_flex1{
    display: flex;
    justify-content: space-between;

}
.page_traiteur_section2 .card .description .d_flex1 span i{
    font-size: 8px;
}
.page_traiteur_section2 .card .description .d_flex1 .span2 i{
    color: #ffe1a0;
}
.page_traiteur_section2 .card .description .bold{
    font-weight: bold;
}
.page_traiteur_section2 .card .description .lang{
    margin: 2px 0 8px 0;
}
.page_traiteur_section2 .card .description .lang span{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 2px 5px;

}
.page_traiteur_section2 .card .description .d_flex2{
    display: flex;
    justify-content: space-between;

}
.page_traiteur_section2 .card .description .d_flex2 a{
    font-size: 10px;
    padding: 5px 8px;
    background-color: rgb(3, 3, 24);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.page_traiteur_section3{
    height: 250px;
    background-color: #fff3e0;

}
.page_traiteur_section3 .div1{
    height: 210px;
    background-image: url(images/banner-head-accueil.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page_traiteur_section3 .div1 .superposition{
    position: absolute;
    inset: 0;
    background-color: #e65100;
    opacity: 0.5;
    height: 210px;
}
.page_traiteur_section3 .div1 .div2{
    z-index: 1;
    color: #fff;
    text-align: center;
}
.page_traiteur_section3 .div1 .div2 p{
    font-size: 12px;
    margin-top: 5px;
}
.page_traiteur_section3 .div1 .div2 a{
    display: inline-block;
    margin-top: 15px;
    background-color: rgb(249, 246, 246);
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    color: #e65100;
    text-decoration: none;
    font-weight: bold;
}